$font1: 'Chakra Petch';
$color1: #FFFFFF;
$color2: #F7C9F3;
$color3: #110038;
$color4: #F0F0F0;
$color5: #979797;
$color6: #EE3EFE;
$color7: #2E32FB;
$color8: #CCCCCC;
$color9: #8F8F8F;
$colorBorder: #808080;
$colorDropLg: #E6E6E6;
$colorDropDk: #B4B4B4;
$colorBgLight: #fff4fd;
$colorBgDark: #110038;